<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Lista Rescatados</title>
</head>
<header>
<div>
    <div class="footer">
            <a class="btn btn-outline-secondary" href="{% url "administrador" %}" role="button">Volver a administrador</a>
    </div>
    <div>
    <img src="{% static "img/logo.png" %}" alt="" class="img-fluid mx-auto d-block logo">
    </div>
</header>
<body>
    <h1>Lista de Perritos registrados</h1>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Estado</th>
                <th>Edición</th>
                <th>Eliminar</th>
            </tr>
            {% for e in elementos %}
            <tr>
                <td>{{e.nombre}}</td>
                <td>{{e.raza}}</td>
                <td>{% if e.estado == 1 %} Rescatado
                    {% elif e.estado == 2 %} Disponible
                    {% elif e.estado == 3 %} Adoptado
                    {% endif %}</td>
                <td> <a href="/form_rescatado/editar/{{e.id}}">  Editar </a> </td>
                <td> <a href="/form_rescatado/eliminar/{{e.id}}">  Eliminar </a> </td>
                <br>
            </tr>
        </table>
        {% endfor %}
        <br><br>
        <td> <a href="/form_rescatado/buscar/{{e.estado}}">  Buscar </a> </td>   

</body>
</html>